.cart {
  background: #000;
  display: none;
  padding: 16px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
  color: white;
  overflow-y: auto;
}

.cart ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}

.cart img {
  aspect-ratio: 4/3;
  width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.clear-button-content {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.clear-button {
  background-color: rgb(221, 3, 3);
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.clear-button:hover {
  scale: 1.1;
}

.remove-button,
.add-button {
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 0 6px;
}

.remove-button {
  background-color: rgb(248, 33, 33);
}

.add-button {
  background-color: #38a169;
}

.cart-title {
  margin: 5px 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
}
